body{
  border-bottom: 1px none #000;
  background-image: url("https://uploads-ssl.webflow.com/5e2520252e290c852ed89624/5e7c21a34149343b88c20898_Gradient-home.png"), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image: url("https://uploads-ssl.webflow.com/5e2520252e290c852ed89624/5e7c21a34149343b88c20898_Gradient-home.png"), linear-gradient(180deg, transparent, transparent);
  background-position: -210px 0px, 0px 0px;
  background-size: 140%, auto;
  background-attachment: scroll, scroll;s
}
.intro-wrapper{
	height: 300px;
}
.intro-wrapper img{
	height:100%;
	width: 100%
}